header.menu {
  background-color: green;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  width: 100%;
}
header.menu .mContent {
  background-color: green;
  width: 800px;
  margin: 0 auto;
  display: flex;
}
  header.menu .mContent .logo {
    font-family: "Arial Black";
    font-size: 20px; line-height: 36px;
    margin: 5px;
    width: 160px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #006600;
    -webkit-box-shadow: inset -2px -2px 10px #000, 2px 2px 4px #000;
    -moz-box-shadow: inset -2px -2px 10px #000, 2px 2px 4px #000;
    box-shadow: inset -2px -2px 10px #000, 2px 2px 4px #000;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -o-transform: rotate(-5deg); }
    header.menu .mContent .logo a.aLogo {
      cursor: pointer;
      text-decoration: none;
      color: #fff; }

/*
* menuToggle
*/
$n: 6;
header .mContent {
    justify-content: space-between;

    #menuToggle {
        display: flex;
        align-items: flex-end;
        padding-right: 205px;
        input {
            display: none;
        }

        span {
            display: none;

        }
        #menuToggle-menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                border-left: 1px solid #fff;
                a.mLink {
                    font-size: 12px;
                    padding-left: 1em;
                    padding-right: 1em;
                    color: #ffffff;
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    cursor: pointer;
                    text-decoration: none;
                    color: #fff;
                }
                &.last {
                    border-right: 1px solid #fff;
                }
                &.in-poker {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: 878px){
  header.menu > .mContent {
    width: 90%;
  }
  header .mContent #menuToggle {
      padding-right: 0;
  }
}
@media(max-width: 640px){
    header::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 115%;
      overflow-y: hidden;
      top: 50px;
      left: 0;
      z-index: 0;
      background: #333;
      opacity: 0;
      transition: opacity .3s ease-in;
    }
    header.menuChecked::before {
      opacity: .2;
      z-index: 1;
    }
    header.menu.menu-show .mContent .mItems ul.mList li {
        &.in-poker {
            display: block;
        }
    }
    header .mContent #menuToggle {
        display: block;
        position: relative;
        top: 20px;
        // left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        #menuToggle-menu {

            li {
              display: none;
              &.in-poker {
                transform: translate(50%, 0%);
                position: fixed;
                display: inline-block;
                padding: 10px 0;
                background: green;
                transition: transform .3s cubic-bezier(0.77,0.2,0.05,1.0);
                opacity: .9;
                a {
                  font-size: 16px;
                }
              }
              &.active {
                background: #006600;
                a {
                  color: #333;
                }
              }
            }
            @for $i from 1 through $n {
              li:nth-child(#{$i}n) {
                width: calc(100% - 15% * (#{$i} - 1));
                margin-top: calc(48px * (#{$i} - 1) + 12px);
                transition-delay: calc((#{$i} -1) * 50ms);
              }
            }
        }
        input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;

            cursor: pointer;

            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */

            -webkit-touch-callout: none;
        }
        span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;

            background: #ddd;
            border-radius: 3px;

            z-index: 1;

            transform-origin: 4px 0px;

            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
            &:first-child {
                transform-origin: 0% 0%;
            }
            &:nth-last-child(2) {
              transform-origin: 0% 100%;
            }

        }
        input:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            // background: #ddd;
        }
        input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        input:checked ~ span:nth-last-child(2){
            transform: rotate(-45deg) translate(0, -1px);
        }
        input:checked ~ #menuToggle-menu {
            display: flex;
            left: 0;
            list-style-type: none;
            // -webkit-font-smoothing: antialiased;
            z-index: 1000;
            flex-direction: column;

            @for $i from 1 through $n {
              li:nth-child(#{$i}n) {
                transform: translate(calc(-60% + (#{$i} - 1) * 2%), 0%);
                // @if $i > 3 {
                  // transition-delay: calc((#{$i} -1) * 80ms);
                // }
              }
            }
        }
    }
}

@media (max-width: 480px) {
  header.menu > .mContent{
    width: 96%;
  }
}
