<header class="menu" [ngClass]="{'menuChecked': menuChecked}">
    <div class="mContent">
        <div class="logo">
            <a href="http://www.richyan.com" class="aLogo">RichYan</a>
        </div>
        <div id="menuToggle">
            <input type="checkbox" (change)="menuChecked = $event.target.checked" #inputToggle>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menuToggle-menu">

                <li class="in-poker" (click)="clickLink('igame')" [ngClass]="{'active': linkUrl == 'igame'}">
                    <a class="mLink">Image Game</a>
                </li>
                <li class="in-poker" (click)="clickLink('faceapi')" [ngClass]="{'active': linkUrl == 'faceapi'}">
                    <a class="mLink">Face Detection</a>
                </li>

                <li class="in-poker" (click)="clickLink('blackjack')" [ngClass]="{'active': linkUrl == 'blackjack'}">
                    <a class="mLink">Blackjack</a>
                </li>
                <li class="in-poker" (click)="clickLink('solitaire')" [ngClass]="{'active': linkUrl == 'solitaire'}">
                    <a class="mLink">Solitaire</a>
                </li>
                <li class="in-poker" (click)="clickLink('points')" [ngClass]="{'active': linkUrl == 'points'}">
                    <a class="mLink">24 Points</a>
                </li>
                <li class="in-poker" (click)="clickLink('balls')" [ngClass]="{'active': linkUrl == 'balls'}">
                    <a class="mLink">Balls</a>
                </li>
                <li>
                    <a href="https://www.richyan.com" class="mLink">Home</a>
                </li>
                <!-- <li>-->
                <!--    <a href="https://www.richyan.com/portfolio" class="mLink">Portfolio</a>-->
                <!--</li>-->
                <li>
                    <a href="https://javascript.richyan.com/" class="mLink">Javascript</a>
                </li>
                <!-- <li>
                    <a href="https://www.richyan.com/angular/" class="mLink">Angular</a>
                </li> -->
                <li>
                    <a href="https://dushu.richyan.com" class="mLink">Dushu</a>
                </li>
                <li class="last">
                    <a href="https://blog.richyan.com" class="mLink">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</header>