<header class="menu">
    <div class="mContent">
        <div class="logo">
            <a href="http://www.richyan.com" class="aLogo">RichYan</a>
        </div>
        <div id="menuToggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
            <ul id="menuToggle-menu">
                <li>
                    <a href="https://www.richyan.com" class="mLink">Home</a>
                </li>
                <!-- <li>-->
                <!--    <a href="https://www.richyan.com/portfolio" class="mLink">Portfolio</a>-->
                <!--</li>-->
                <li>
                    <a href="https://www.richyan.com/javascript" class="mLink">Javascript</a>
                </li>
                <li>
                    <a href="https://www.richyan.com/angular/" class="mLink">Angular</a>
                </li>
                <li>
                    <a href="https://www.richyan.com/android" class="mLink">Android</a>
                </li>
                <li class="in-poker">
                    <a routerLink="/jukebox" class="mLink">Jukebox</a>
                </li>
                <li class="in-poker">
                    <a routerLink="/igame" class="mLink">Image Game</a>
                </li>
                <li class="in-poker">
                    <a routerLink="/blackjack" class="mLink">Blackjack</a>
                </li>
                <li class="in-poker">
                    <a routerLink="/solitaire" class="mLink">Solitaire</a>
                </li>
                <li class="in-poker">
                    <a routerLink="/points" class="mLink">24 Points</a>
                </li>
                <li class="last">
                    <a href="http://www.blog.richyan.com/" class="mLink">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</header>

