.conLeft.animation {
    app-writing-pad {
        display: none;
    }
    .pane {
        display: flex;
    }
}
app-writing-pad {
    display: flex;
}
::ng-deep .wrapper {
    canvas {
        border: 1px solid #ccc;
    }
}

::ng-deep .controls {
    &.disabled button {
        opacity: 0;
        cursor: default;
        &.close-btn {
            opacity: 1;
            cursor: pointer;
        }
    }

    button {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        cursor: pointer;
        img{
            width: 20px;
            height: auto;
        }
    }
}

.pane {
    display: none;
    height: 512px;
    svg {
        border: 1px solid #ccc;
        width: 250px;
        height: 250px;
    }
}
.output {
    margin-left: 1px;
    .candidate {
        box-sizing: border-box;
        color: #2c3e50;
        float: left;
        height: 64px;
        line-height: 60px;
        margin: 0;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        border: 2px dotted lightgray;
        font-size: 40px;
        width: 64px;
    }
}

path {
    &.incomplete {
        fill: lightgray;
    }
    &.complete {
        fill: black;
    }

    &.animation.partial {
        fill: none;
        stroke: blue;
        stroke-linecap: round;
        stroke-width: 128;
    }
}
g.complete .animation.partial {
    display: none;
}