$n: 8;
$tw: calc(100% / #{$n});

.conLeft{
    .balls{
        width: 100%;
        position: relative;
        height: 100%;
        .ball{
            cursor: pointer;
            position: absolute;
            width: $tw;
            padding-top: $tw;
            border-radius: 50%;
            text-align: center;
            box-shadow: inset -5px -5px 35px, inset 0px 0px 35px;
            transition: opacity .3s ease-out;
            div.number{
                position: absolute;
                margin-top: calc(100% / 2 * -1 - 6px);
                margin-left: calc(100% / 2 - 8px);
            }

            @for $i from 1 through $n {
              &:nth-child(#{$n}n + #{$i}) {
                left:  calc(100% / #{$n} * (#{$i} - 1));
              }
            }
            @for $i from 1 through 5 {
              &:nth-child(1n + #{$i * $n + 1}) {
                margin-top: calc(100% / #{$n} * #{$i});
              }
            }
            &.toLaunch {
              margin-top: calc(540px - 100% / 16);
              left: calc(100% / 2 - 100% / 16);
              transition: margin .1s ease-out;
            }
            &.stopped {
              left: calc(100% / 2 - 100% / 16);
            }
        }

        .dot {
          left: calc(100% / 2 - 2px);
          position: absolute;
          color: #DC143C;
          font-weight: bolder;

          // @for $i from 1 through 15 {
          //   &:nth-child(#{$i}) {
          //     margin-top:  calc(540px - (#{$i} * 12));
          //   }
          // }
        }
    }
}
