<div class="chat-title">
  <div class="chat-icon"><img src="assets/imgs/chatbot.svg" alt="Chatbot avatar" /></div>
  <div class="chat-name">Chatbot</div>
  <a class="chat-close" href="javascript:;" (click)="toggleChat()"><img src="assets/imgs/close.svg" alt="chat close" /></a>
</div>
<div class="chat-list">
    <ul class="list-group" #msgList>
      <li class="list-group-item" *ngFor="let msg of messages" [ngClass]="{'user': msg.sender ==='user'}">
        <img [src]="msg.sender ==='user'? 'assets/imgs/user.svg': 'assets/imgs/chatbot.svg'" class="avatar"  />
        <div class="message">
            {{msg.content}}
        </div>
        <!-- <div class="timeform">
            <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="timestamp">at {{message.timestamp | date : 'dd/MM/yyyy' }}</span>
        </div> -->
      </li>
    </ul>
</div>
<div class="chat-control">
    <form name="msgForm" role='form' (ngSubmit)='sendMessage()' #msgForm="ngForm">
        <textarea aria-label="Enter a message" class="message" name="message" [(ngModel)]="message.content" #messageTA required (keydown)="onKeydown($event)" ></textarea>
        <button class="sendbtn" type="submit"  [disabled]="msgForm.form.invalid"><img src="assets/imgs/send.svg" alt="send" /></button>
    </form>
</div>
<div class="chatbot-icon" (click) = "toggleChat()">
    <img src="assets/imgs/chatbot.svg" alt="Chatbot avatar" />
</div>
