@import './../../../mixin.scss';
.conTitle {
    display: flex;
    justify-content: space-between;
    .subtitle-btns {
        padding-right: 10px;
        display: flex;
        .btn{
            width: 120px;
            // padding: var(--sm-padding) var(--md-padding);
            text-decoration: none;
        }
    }
}
#conLeft {
    width: 96% !important;
    margin: 0 auto;
}

.deck,
.card-table {
    display: grid;
    padding: var(--sm-padding) var(--md-padding);
    grid-template-columns: repeat(7, 1fr);
}

.deck .deck_cards-left,
.cards {
    width: 75px;

    &::before{
        content: "";
        position: absolute;
        margin-top: 2px;
        @include dimension(71px, 106px);
        
        border-radius: 5px;
        border: 2px solid #999;
    }
    app-card ::ng-deep{
        img {
            height: 114px;
            @media(max-width: 878px) {
                height: 100px;
            }
            @media(max-width: 640px) {
                height: 85px;
            }
            @media(max-width: 480px) {
                height: 60px;
            }
        }
    } 
}

.deck{
    > div {
        height: 115px;
    }
    .deck_cards-left {
        cursor: pointer;
        outline:none;
        &::before {
            background: url(https://www.richyan.com/angular/assets/imgs/autorenew-24px.svg) center center no-repeat;
            z-index: -1;
            @include disableUserSelect;
        }
        img {
            @include disableUserSelect;
            @include dimension(75px, 115px);
        }
    }
    
    .cards{
        padding:0;
        margin:0;
        list-style-type:none;
        display: flex;
        app-card{
            height: 0px;
        }
    }
}
.deck-hard .deck_cards.deck_td .cards app-card,
.deck .deck_td .cards.homogeneous {
        width: 75px;
        height: 115px;
        @media(max-width: 878px) {
            @include dimension(65px, 100px);
        }
        @media(max-width: 640px) {
            @include dimension(55px, 85px);
        }
        @media(max-width: 480px) {
            @include dimension(40px, 60px);
        }
    }
.cards{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;

    &.empty {
        height: 115px;
    }

    app-card{
        height: 35px;
        position: relative;
        box-sizing: border-box;

        cursor: move;

        @include disableUserSelect;
        touch-action: none; 
        -webkit-user-drag: none; 
        -webkit-tap-highlight-color: transparent; 

        &.grouped, &.dragging {
            z-index: 100;
            @include boxShadow((0 5px 5px -3px rgba(0, 0, 0, 0.2),
                        0 8px 10px 1px rgba(0, 0, 0, 0.14),
                        0 3px 14px 2px rgba(0, 0, 0, 0.12)));
        }

        &.dragging:last-child{
            height: 112px;
        }
        &:last-child {
            height: 114px;
        }
    }
}

.deck.deck-hard {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    .deck_td.deck_td-empty {
        display: none;
    }
    .deck_cards.deck_td .cards {
        width: 90%;
        app-card{
            height: 0;
            &.card-2 {
                margin-left: 25px;
            }
            &.card-3 {
                margin-left: 50px;
            }
        }
    }
    
}

@media(max-width: 878px){
    .deck > div {
        height: 100px;
    }

    .deck .deck_cards-left,
    .cards {
        width: 65px;
        &::before{
            @include dimension(61px, 92px);
            border-radius: 3px;
        }
    }
    .deck_td .cards.homogeneous,
    .deck .deck_cards-left img {
        @include dimension(65px, 100px);
    }
    .cards {
        &.empty {
            height: 100px;
        }
        app-card:last-child {
            height: 100px;
        }
        app-card.dragging:last-child{
            height: 98px;
        }
    }
}

@media(max-width: 640px){
    .deck .deck_cards-left,
    .cards {
        width: 55px;
        &::before{
            width: 52px;
            height: 80px;
        }
    }
    .deck_td .cards.homogeneous,
    .deck .deck_cards-left img {
        width: 55px;
        height: 85px;
    }
    .cards {
        &.empty {
            height: 85px;
        }
        app-card:last-child {
            height: 85px;
        }
        app-card.dragging:last-child{
            height: 83px;
        }
    }
}
@media(max-width: 480px){
    .conTitle .subtitle-btns .btn{
        width: 80px;
        padding: 2px;
    }

    .deck > div {
        height: 60px;
    }
    .deck_td .cards.homogeneous,
    .deck .deck_cards-left img {
        @include dimension(40px, 61px);
    }

    .deck .deck_cards-left,
    .cards {
        width: 40px;
        &::before{
            @include dimension(38px, 56px);
            border-radius: 3px;
            border: 1px solid #999;
        }
    }

    .cards {
        &.empty {
            height: 61px;
        }
        app-card {
            height: 25px;
        }
        app-card:last-child {
            height: 60px;
        }
        app-card.dragging:last-child{
            height: 59px;
        }
    }

    .deck.deck-hard {
        .deck_cards.deck_td .cards {
            app-card{
                &.card-2 {
                    margin-left: 20px;
                }
                &.card-3 {
                    margin-left: 40px;
                }
            }
        }
    }
}
