.conTitle {
  display: flex;
  .subtitle__btns {
    flex: 1;
    text-align: right;
    padding-right: 10px;
    .btn{
      width: 150px;
      padding: var(--sm-padding) var(--md-padding);
      text-decoration: none;
    }
  }
}
.deck{
  display: flex;
  padding: var(--sm-padding) var(--md-padding);
  .deck__cards--left {
    cursor: pointer;
    outline:none;
    width: 75px;
    height: 115px;
    &::before {
      content: "";
      position: absolute;
      margin-top: 2px;
      width: 71px;
      height: 108px;
      border-radius: 5px;
      border: 2px solid #999;
    }
  }
  .deck__cards {
    width: 75px;
  }
  .deck__td {
    width: 105px;
  }
  ul{
    padding:0;
    margin:0;
    list-style-type:none;
    display: flex;
    li{
      height: 0px;
    }
  }
  ul.deck__card--empty{
    li{
      width: 75px;
      margin-right: 30px;
    }
  }

}

.card--table{
    display: flex;
    .cards--wrapper:nth-child(1){
        padding-left: var(--md-padding);
    }
}
ul.cards{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      // margin: var(--sm-padding) var(--md-padding);
      padding: 0;
      width: 75px;
      margin-right: 30px;
      &::before{
        content: "";
        position: absolute;
        margin-top: 2px;
        width: 71px;
        height: 108px;
        border-radius: 5px;
        border: 2px solid #999;
      }
      &.empty {
        height: 115px;
      }

      li{
          width: 75px;
          height: 35px;
          position: relative;
          box-sizing: border-box;
          z-index: 1;

          cursor: move;
          user-select: none;
          touch-action: none; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; user-select: none;

          // &.dragglable:not(.dragging) {
          //   transition: transform 300ms ease-in-out;
          // }

          &.grouped, &.dragging {
            z-index: 100;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                        0 8px 10px 1px rgba(0, 0, 0, 0.14),
                        0 3px 14px 2px rgba(0, 0, 0, 0.12);
          }

          &.dragging:last-child{
            height: 112px;
          }

          div.card{
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: all .3s linear;
            cursor: pointer;
          }

          .card__face{
              position: absolute;
              width: 100%;
              height: 100%;
              backface-visibility: hidden;

          }
          .card__face.card__front {
              display: block;
              transform: rotateY(180deg);
              box-sizing: border-box;
              color: white;
              text-align: center;
              background-color: #aaa;
          }
          .card__back.card__face{
            transition: all .3s ease-in-out;
            &.card__init{
              position: absolute;
            }
          }

      }
      li{
          perspective: 1000;
      }
      li.hover{
        position: relative;
        // height: 115px;
        div.card{
            transform: rotateY(180deg);
            // box-shadow: 2px 2px 5px #ddd;
        }
      }
      li.hover:last-child {
        height: 115px;
      }

}
ul.cards.cards--dealer{
  height: 115px;
  li.hover.card__show{
    height: 0px
  }
  li.hover.card__show:last-child{
    height: 115px;
  }
}
