 <div class="conTitle" id="conTitle">
    <div class="description"> Solitaire </div>
    <div class="subtitle-btns">
      <button class="btn btn-shuffle button" (click)="newGame()">
        <!-- <img src="./assets/imgs/autorenew-24px.svg" alt="New Game" /> -->
        <span class="text">New Game</span>
        <span class="bg"></span>
      </button>
      <button class="btn btn-deal button" (click)="undo()">
        <!-- <img src="./assets/imgs/undo-24px.svg" alt="Undo" /> -->
        <span class="text">Undo ({{actions.length}})</span>
        <span class="bg"></span>
      </button>
    </div>
  </div>

  <div class="conText row">
    <div class="conLeft" id="conLeft">
      <div class="deck">

        <div class="deck_cards-left card" (click)="open()" id="deckLeft">
            <img [src]="deck.cardBackImg" alt="card back" *ngIf="leftCards.length > 0">
        </div>

        <div class="deck_cards deck_td">
          <ul class="cards cards-dealer">
            <li *ngFor="let card of cols[11]; let j = index" cardAnimate = "#deckLeft"
                appDraggable
                [appDraggingCard]="card"
                (dropped)="onDropped($event, 11, j)" >
              <div class="card">
                <div class="card__back card__face">
                  <img [src]="deck.cardBackImg" alt="cardback" >
                </div>
                <div class="card__front card__face">
                  <img [src]="card.imgUrl" [alt]="card.face + ' ' + card.suit"/>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="deck_td deck_td-empty">
        </div>

        <div class="deck_td" *ngFor="let i of [7,8,9,10];">
          <ul class="cards appDropzone homogeneous"
              [attr.data-value]="cols[i].length ? cols[i][cols[i].length-1].value : 0"
              [attr.data-suit]="cols[i].length ? cols[i][cols[i].length-1].suit : 0"
              [attr.data-index]="i"
              [ngClass]="{'empty': cols[i]['length']===0}">
              <li class="hover" *ngFor="let card of cols[i]; let j = index"
                    [attr.data-index] = "i + '|' +j"
                    [ngClass]="{'hover': card['show'] }"
                    appDraggable
                    [appDraggingCard]="card"
                    (dragStart)="onDragStart(i, j)"
                    (dragMove)="onDragMove($event, i, j)"
                    (dropped)="onDropped($event, i, j)">
                  <div class="card">
                    <div class="card__back card__face">
                      <img [src]="deck.cardBackImg" alt="cardback" />
                    </div>
                    <div class="card__front card__face">
                      <img [src]="card.imgUrl" [alt]="card.face + ' ' + card.suit" />
                    </div>
                  </div>
              </li>
          </ul>
        </div>

      </div>
      <div class="card-table">
        <div class="cards-wrapper" *ngFor="let cards of cols.slice(0, 7); let i = index">
          <ul class="cards appDropzone"
              [attr.data-value]="cards.length ? cards[cards.length-1].value : 0"
              [attr.data-suit]="cards.length ? cards[cards.length-1].suit : 0"
              [attr.data-index]="i"
              [ngClass]="{'empty': cards['length']===0}">
            <li *ngFor="let card of cards; let j = index" [attr.data-index] = "i + '|' +j"
                [ngClass]="{'hover': card['show'], 'grouped': card['grouped']}"
                 appDraggable
                 [appDraggingCard]="card"
                 (dragStart)="onDragStart(i, j)"
                 (dragMove)="onDragMove($event, i, j)"
                 (dropped)="onDropped($event, i, j)">
              <div class="card">
                <div class="card__back card__face">
                  <img [src]="deck.cardBackImg" alt="cardback" />
                </div>
                <div class="card__front card__face">
                  <img [src]="card.imgUrl" [alt]="card.face + ' ' + card.suit" />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
