<div class="appUpload">
  <input type="file" class="upload"  (change)="onChange($event)" [accept]="acceptType" />
  <a>Upload</a>
  <span class="bg"></span>
</div>
<span class="upload-msg" *ngIf="error">{{error}}</span>

<div class="upload-modal" *ngIf="isUploading">
  <div class="upload-content">
          <div class="file-name">{{file.name}}</div>
          <div class="progressbar-wrap">
              <div class="progressbar" [style.width]="progressPercentage"></div>
              <span class="file-info">{{progressPercentage}}% of {{file.size }}</span>
          </div>
          <div class="actions"><a class="action" href="javascript:;" (click)="stopUpload()"><img src="assets/imgs/close.svg" alt="chat close" /></a></div>
  </div>
</div>
