#conLeft {
  position: relative;
  width: 100% !important;
  video {
    width: 100%;
    height: auto;
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &.show {
      opacity: 1;
    }
  }
}
