<div class="conTitle" id="conTitle">24 Points</div>
<div class="conSubTitle">Use allowed operations ('+', '-', '*', '/', '( )') to calculate 4 cards to achieve number 24
</div>
<div class="conText row">
    <div class="conLeft" id="conLeft">
        <div class="deck">
            <div class="deck__left" id="deckLeft">
                <img class="svg-card" src="assets/svg-cards/Card_back.svg" alt="card back">
            </div>
            <div class="deck__right">
                <div class="deck__title">
                    <div>Card(s) Left: <span
                        class="deck__title--emphasize">{{deck.getCards().length}}</span>
                    </div>
                    <div class="form-group">
                      <select id="formats" (change)="setCardNumber($event.target.value)">
                        <option *ngFor="let v of [4, 5, 6, 7, 8, 9, 10];" [value]="v" [selected]="cardNumber===v">{{v +' Cards '}}</option>
                      </select>
                      <i class="bar"></i>
                    </div>
                </div>
                <div class="deck__btns">
                    <button class="btn btn--shuffle button" (click)="refresh()"
                        [disabled]="ondealing">
                        <span class="text">Refresh</span>
                        <span class="bg"></span>
                    </button>
                    <button class="btn btn--deal button" (click)="findSolutions()" [disabled]="ondealing">
                        <span class="text">Solution</span>
                        <span class="bg"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="cards" [ngClass]="{'five': cardNumber>=5}">
            <app-card *ngFor="let card of dealedCards" appCanimate="#deckLeft" [appCard]="card">
            </app-card>
        </div>
        <div class="solution" *ngIf="solution">
            <div class="solutiion-title">Solution: </div>
            <div class="solution-text">{{solution}}</div>
        </div>
    </div>

    <div class="conRight" id="conRight">
        <app-panel-right></app-panel-right>
    </div>
</div>