@import './../../../mixin.scss';

.deck{
    padding-left: var(--md-padding);
    padding-top: 10px;
    display: flex;
    height: 115px;
    .deck__right{
        padding-left: var(--md-padding);
        display: flex;
        flex-direction: column;

        .deck__title{
            font-size: 1rem;
            padding-top: 15px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 480px) {
                padding-top: 0;
                font-weight: 600;
                flex-direction: column;
            }
        }
        .deck__title--emphasize{
            // font-size: 1.2rem;
            font-weight: 500;
        }
        .deck__btns{
            display: flex;
            flex: 1;
            align-items: baseline;
            align-items: flex-end;
            .btn{
                width: 130px;
                padding: var(--sm-padding) var(--md-padding);
                margin-right: 5px;
                text-decoration: none;
                font-size: 1rem;

                &:disabled{
                    background: #999;
                    cursor: default;
                }
            }
        }
    }
}

.cards{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    app-card{
        @include dimension(85px, 120px);
    }
    app-card.show ::ng-deep {
        margin: var(--sm-padding) var(--md-padding);
        @media (max-width: 480px) {
            margin-right: 2rem;
        }
        .card{
            @include boxShadow(2px 2px 5px #ddd);
            // box-shadow: 2px 2px 5px #ddd;
        }
    }
}

.cards.five app-card.show ::ng-deep {
    margin: 10px;
}

.solution{
    padding: 15px;
    font-size: 1.5rem;
    .solution-text{
        letter-spacing: 10px
    }
}
img.svg-card{
    @include dimension(85px, 120px);
}

.form-group {
    position: relative;
    margin-right: 10px;
}
.form-group select {
    @include dimension(100%, 1.2rem);
    
    background: none;
    border: none;

    @include boxShadow(none);
    color: #999;
}
.form-group select:focus {
    outline: none;
}
.form-group select:focus ~ .bar::before{
    width: 100%;
    left: 0;
}
.form-group .bar {
    position: relative;
    border-bottom: 0.0825rem solid #999;
    display: block;
}
.form-group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #337ab7;
    @include transition((left 0.28s ease, width 0.28s ease));
    z-index: 2;
}

@media (max-width: 480px) {
    #conLeft {
        padding-left: .5rem;
    }
    .deck .deck__right .deck__btns{
        flex-direction: column-reverse;
        .btn{
            margin-top: .5rem;
        }
    }
    .solution{
        font-size: 1rem;
    }
    .form-group {
        margin-right: 5px;
        margin-left: 5px;
    }
}
