@import './../../../mixin.scss';

.conSubTitle {
  font-family: "Helvetica", "Arial", sans-serif;
  display: flex;
  flex-wrap: wrap;
  .buttons {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-group {
  position: relative;
  margin-right: 10px;
}
.form-group select {
  @include dimension(100%, 1.2rem);
  
  background: none;
  border: none;

  @include boxShadow(none);
  color: #999;
}
.form-group select:focus {
  outline: none;
}
.form-group select:focus ~ .bar::before{
  width: 100%;
  left: 0;
}
.form-group .bar {
  position: relative;
  border-bottom: 0.0825rem solid #999;
  display: block;
}
.form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.1rem;
  position: absolute;
  background: #337ab7;
  @include transition((left 0.28s ease, width 0.28s ease));
  z-index: 2;
}

.conLeft.loaded {
  .empty-wrap {
    opacity: 1;
    transition: opacity .1s ease-in-out;
    transition-delay: .4s;
  }
  .canvas{
    border: 1px solid var(--main-green-dark);
  }
}

.canvas-wrap{
  position: absolute;
  cursor: pointer;
  padding: 0;
  transition: margin .3s ease-in-out;
  .canvas{
    border: 1px solid var(--main-white);
  }
  .canvas-num {
    position: absolute;
    margin-top: -20px;
    margin-left: 5px;
    color: var(--main-green);
    font-weight: 500;
  }
}
.empty-wrap{
  position: absolute;
  border: 1px solid var(--main-green-dark);
  color: #000;
  line-height: 2rem;
  font-weight: 500;
  z-index: -1;
  opacity: 0;
  img.arrow {
    width: 25px;
    height: 25px;
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease-in;
    &.arrow-top {
      transform: translateX(-50%);
      margin-left: 50%;
    }
    &.arrow-bottom {
      bottom: 0px;
      transform: translateX(-50%) rotate(180deg);
      margin-left: 50%;
    }
    &.arrow-left {
      transform: translateY(-50%) rotate(-90deg);
      top: 50%;
    }
    &.arrow-right {
      transform: translateY(-50%) rotate(90deg);
      right: 0px;
      top: 50%;
    }
  }
}

.image-wrap {
  z-index: 100;
  position: absolute;
}

@media (max-width: 640px) {
  .form-group {
    width: 40%;
    margin-left: 10px;
  }
  .buttons {
    margin-top: .5em;
  }
}

@media (max-width: 480px) {
   #download {
    display: none;
  }
}
