/* You can add global styles to this file, and also import other style files */
@import './mixin.scss';
:root{
    --main-navy-extra-light: #f2f6f8;
    --main-navy-extra-light-a: 242,246,248;
    --main-navy-light: #e1eef4;
    --main-navy-light-a: 225,238,244;
    --main-navy: #b5d2e1;
    --main-navy-a: 181,210,225;
    --main-navy-medium: #cddbe2;
    --main-navy-medium-a: 205,219,226;
    --main-navy-dark: #7695a5;
    --main-navy-dark-a: 118,149,165;
    --main-navy-extra-dark: #394f5a;
    --main-navy-extra-dark-a: 57,79,90;
    --main-green-light-a: 229,250,240;
    --main-green-light: #e5faf0;
    --main-green-a: 19,203,110;
    --main-green: #13cb6e;
    --main-rich-green: #009900;
    --main-green-dark-a: 31,164,92;
    --main-green-dark: #006600;
    --main-blue-extra-light-a: 239,250,255;
    --main-blue-extra-light: #effaff;
    --main-blue-light-a: 158,220,247;
    --main-blue-light: #9edcf7;
    --main-blue-a: 10,91,255;
    --main-blue: #0a5bff;
    --main-blue-dark-a: 9,96,197;
    --main-blue-dark: #0960c5;
    --main-white-a: 255,255,255;
    --main-white: #fff;
    --main-black-a: 0,0,0;
    --main-black: #000;
    --main-gray-extra-light-a: 248,248,248;
    --main-gray-extra-light: #f8f8f8;
    --main-gray-light-a: 238,238,238;
    --main-gray-light: #eee;
    --main-gray: #999;
    --main-gray-extra-dark-a: 51,51,51;
    --main-gray-extra-dark: #333;
    --main-gray-accessible-light-a: 121,139,146;
    --main-gray-accessible-light: #798b92;
    --main-gray-accessible-a: 82,98,107;
    --main-gray-accessible: #52626b;
    --main-teal-a: 19,221,176;
    --main-teal: #13ddb0;
    --main-teal-dark-a: 16,185,147;
    --main-teal-dark: #10b993;
    --main-violet-a: 220,129,255;
    --main-violet: #dc81ff;
    --main-violet-dark-a: 112,67,213;
    --main-violet-dark: #7043d5;
    --lg--padding: 2rem;
    --md-padding: 1rem;
    --sm-padding: .5rem;
    --min-height: 540px;
}

@font-face {
    font-family: 'arial-black';
    src: local('Arial Black');
}

body, html {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: var(--main-white);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    .content{
        font-family: Roboto, "Helvetica Neue", sans-serif;
        @include transition(opacity .3s ease-in);
        .conText .conLeft{
            @include boxShadow(2px 2px 5px var(--main-gray));
        }
    }

}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 20px 0;
    border-left: 1px solid var(--main-rich-green);
    border-right: 1px solid var(--main-rich-green);
    margin: 0 auto;
    @include boxShadow(0 0 10px var(--main-rich-green));

    &.loading {
        min-height: 600px;
    }
    &.loading::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        @include dimension(100%, 100%);
        background: var(--main-green-dark);
        opacity: 0.1;
    }
    &.loading::after {
        content: ' ';
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        z-index: 1001;
        left: 0;
        right: 0;
        top: 300px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 5px solid var(--main-rich-green);
        border-color: var(--main-rich-green) transparent var(--main-rich-green) transparent;
        animation: loader 1.2s linear infinite;
    }

    @keyframes loader {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    @media (max-width: 480px) {
        padding: 10px 0;
    }
    .conTitle {
        margin-left: 10px;
        font-size: 1.5em;
        margin-bottom: .5em;
        font-weight: bold;
        color: var(--main-rich-green); 
    }
    .conSubTitle {
        margin-left: 10px;
        font-weight: bold;
        padding-bottom: 1em;
        color: var(--main-black); 
    }
    .conText {
        display: flex; 
        .conLeft {
            margin-left: 10px;
            width: 570px;
            border: 1px solid var(--main-gray);
            border-top: 1px solid var(--main-gray);
            margin-right: 10px;
            min-height: var(--min-height); 
        }
        .conRight {
            width: 200px;
            border-left: 1px dashed var(--main-gray); 
            .categories {
                font-size: 20px;
                font-weight: bold;
                color: var(--main-rich-green);
                margin-left: 20px;
                margin-right: 20px;
                padding-bottom: 10px;
                margin-bottom: 10px;
                padding-top: 10px;
                border-bottom: 1px dashed var(--main-gray); 
            }
        }
    }
    .category {
        padding-left: 20px;
        padding-bottom: 10px; 
        a.active {
            font-weight: 600;
        }
    }
} 

footer {
    width: 100%;
    border-top: 1px solid var(--main-rich-green);
    .fContent {
        display: flex;
        justify-content: space-between;
        width: 800px;
        margin: 0 auto;
        text-align: right;
        padding-top: 10px;
        .copyright {
            color: var(--main-green-dark);
        }
    }
}
a:link, a:visited {
    color: #003333;
    cursor: pointer;
    text-decoration: none; 
}

.button {
    position: relative;
    background: currentColor;
    border: 1px solid currentColor;
    color: #4f93ce;
    margin-left: 5px;
    padding: 0.3rem 1rem;
    overflow: hidden;
    cursor: pointer;
    @include transition(unquote('background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease'));
    @include boxShadow(unquote('0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)'));
    
    span.text {
        color: var(--main-white);
        position: relative;
        // z-index: 1;
        font-weight: 100;
    }
    span.bg {
        display: block;
        top: 50%;
        left: 50%;
        @include dimension(100%, 100%);

        z-index: 0;
        position: absolute;
        overflow: hidden;
        border-radius: inherit;
        pointer-events: none;
        background: rgba(0, 0, 0, .1);
        @include transition(all .3s ease-in-out);
        @include transform(translate(-50%, -50%) scale(0));
       
    }
    &:hover {
        @include boxShadow((0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2)));
        span.bg {
            @include transform(translate(-50%, -50%) scale(1));
        }
    }
    &:active {
        color: #337ab7;
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        color: var(--main-gray);
        cursor: default;
    }
}

@media (max-width: 877px) {

    .content, .footer > .fContent {
        width: 90%;
    }

    .content .conText .conRight {
        display: none; 
    }
}

@media(max-width: 640px){
    :root{
        --lg--padding: 1rem;
        --md-padding: .5rem;
        --sm-padding: .3rem;
    }
}

@media (max-width: 480px) {
    .content.loading {
        min-height: 540px;
    }
    .content, .footer > .fContent {
        width: 96%;
    }
    :root{
        --min-height: 480px;
    }
}