/* You can add global styles to this file, and also import other style files */
:root{
  --main-navy-extra-light: #f2f6f8;
  --main-navy-extra-light-a: 242,246,248;
  --main-navy-light: #e1eef4;
  --main-navy-light-a: 225,238,244;
  --main-navy: #b5d2e1;
  --main-navy-a: 181,210,225;
  --main-navy-medium: #cddbe2;
  --main-navy-medium-a: 205,219,226;
  --main-navy-dark: #7695a5;
  --main-navy-dark-a: 118,149,165;
  --main-navy-extra-dark: #394f5a;
  --main-navy-extra-dark-a: 57,79,90;
  --main-green-light-a: 229,250,240;
  --main-green-light: #e5faf0;
  --main-green-a: 19,203,110;
  --main-green: #13cb6e;
  --main-green-dark-a: 31,164,92;
  --main-green-dark: #1fa45c;
  --main-blue-extra-light-a: 239,250,255;
  --main-blue-extra-light: #effaff;
  --main-blue-light-a: 158,220,247;
  --main-blue-light: #9edcf7;
  --main-blue-a: 10,91,255;
  --main-blue: #0a5bff;
  --main-blue-dark-a: 9,96,197;
  --main-blue-dark: #0960c5;
  --main-white-a: 255,255,255;
  --main-white: #fff;
  --main-black-a: 0,0,0;
  --main-black: #000;
  --main-gray-extra-light-a: 248,248,248;
  --main-gray-extra-light: #f8f8f8;
  --main-gray-light-a: 238,238,238;
  --main-gray-light: #eee;
  --main-gray-a: 204,204,204;
  --main-gray: #ccc;
  --main-gray-dark-a: 154,154,154;
  --main-gray-dark: #9a9a9a;
  --main-gray-extra-dark-a: 51,51,51;
  --main-gray-extra-dark: #333;
  --main-gray-accessible-light-a: 121,139,146;
  --main-gray-accessible-light: #798b92;
  --main-gray-accessible-a: 82,98,107;
  --main-gray-accessible: #52626b;
  --main-teal-a: 19,221,176;
  --main-teal: #13ddb0;
  --main-teal-dark-a: 16,185,147;
  --main-teal-dark: #10b993;
  --main-violet-a: 220,129,255;
  --main-violet: #dc81ff;
  --main-violet-dark-a: 112,67,213;
  --main-violet-dark: #7043d5;
  --utility-blue-a: 10,91,255;
  --utility-blue: #0a5bff;
  --utility-blue-light-a: 158,220,247;
  --utility-blue-light: #9edcf7;
  --utility-red-light-a: 233,46,75;
  --utility-red-light: #e92e4b;
  --utility-red-a: 233,46,75;
  --utility-red: #e92e4b;
  --utility-red-dark-a: 208,2,27;
  --utility-red-dark: #d0021b;
  --utility-yellow-a: 254,247,158;
  --utility-yellow: #fef79e;
  --utility-yellow-light-a: 255,252,217;
  --utility-yellow-light: #fffcd9;
  --utility-orange-a: 245,116,3;
  --utility-orange: #f57403;
  --font-size-large: 28px;
  --font-size-medium: 21px;
  --font-size-small: 16px;
  --font-size-copy: 14px;
  --font-size-subtle: 12px;
  --lg--padding: 2rem;
  --md-padding: 1rem;
  --sm-padding: .5rem;
}
html, body { height: 100%; }
body{
  // overflow: hidden;
  // transition: opacity .3s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    // -webkit-transform: rotate(180deg);
    // transform: rotate(180deg);
    // background-image: url(./assets/imgs/error-bg1.jpg);
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    // opacity: .3;
    // animation: infinite-fadeInOut 3s infinite;
    }
  &.loading::before {
    z-index: 10000;
  }
  .content{
    min-height: 600px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    .conText .conLeft{
      box-shadow: 2px 2px 5px var(--main-gray);
    }
  }
  app-chatbot{
    position: fixed;
    bottom: 0;
    right: -280px;
    top: 0;
    width: 280px;
    background: #fff;
    border-left: 1px solid var(--main-gray);
    display: flex;
    flex-direction: column;
    transition: right, .3s ease-in-out;
    &.show {
      right: 0;
      z-index: 1000;
      .chatbot-icon {
        opacity: 0;
        z-index: -1;
      }
    }
    .chat-title{
      display: flex;
      padding: 10px;
      box-shadow: 2px 2px 5px var(--main-gray);
      .chat-icon{
        width: 30px;
        height: 30px;
        background: var(--main-blue);
        border-radius: 16px;
        img {
          margin: 3px;
          width: 24px;
          height: 24px;
        }
      }
      .chat-name {
        flex: 1;
        font-size: 20px;
        line-height: 30px;
        padding-left: 10px;
        color: var(--main-gray-accessible);
      }
      .chat-close {
        height: 30px;
        &:hover {
          opacity: .6;
        }
        img {
          width: 30px;
          opacity: .6;
        }
      }

    }

    .chat-list{
      flex: 1;
      padding-left: 10px;
      padding-right: 0px;
      overflow: hidden;
      ul.list-group{
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar-track{
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar{
          width: 10px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb{
          background-color: var(--main-blue);
          // border: 1px solid var(--main-blue-light);
        }
        li {
          display: flex;
          &:first-child {
            margin-top: 10px;
          }
          &:last-child {
            margin-bottom: 10px;
          }
          img{
            width: 30px;
            height: 30px;
          }
          .message {
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 5px;
            font-size: 14px;
            color: var(--main-gray-accessible-light);
          }
          &.user{
            flex-direction: row-reverse;
            .message {
              color: var(--main-blue);
              padding-right: 10px;
              padding-left: 0;
            }
          }
        }
      }
    }
    .chat-control {
      height: 50px;
      box-shadow: 5px 5px 15px #999;
      textarea {
        width: 100%;
        background-color: transparent;
        user-select: text;
        border: none;
        font-size: var(--font-size-small);
        resize: none;
        padding: 5px;
        // padding-right: 50px;
      }
      button {
        position: absolute;
        bottom: 10px;
        margin-left: 240px;
        background: none;
        padding: 0;
        border: none;
        cursor: pointer;
        &:disabled {
          display: none;
        }
        img {
          width: 30px;
          height: auto;
        }
      }
    }
    .chatbot-icon {
      background: var(--main-blue);
      border-radius: 25px;
      padding: 10px;
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      cursor: pointer;
      opacity: .8;
      z-index: 5;
      transition: opacity .5s ease-in-out;
      box-shadow: 2px 2px 5px var(--main-gray);
      img {
        widows: 25px;
        height: 25px;
      }
    }
  }
}

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  color: #4f93ce;
  margin-left: 5px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  span.text {
    color: #fff;
    position: relative;
    z-index: 1;
    font-weight: 100;
  }
  span.bg {
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
    background: rgba(0, 0, 0, .1);
    transition: all .3s ease-in-out;
    -webkit-transform: translate(-50%, -50%) scale(0);
           transform: translate(-50%, -50%) scale(0);
  }
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    span.bg {

      -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
    }
  }
  &:active {
    color: #337ab7;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    color: #999;
    cursor: default;
  }
}

@media(max-width: 640px){
  :root{
      --lg--padding: 1rem;
      --md-padding: .5rem;
      --sm-padding: .3rem;
  }
}

@keyframes infinite-fadeInOut {
  0%   { opacity: .3; }
  50%  { opacity: .5;}
  100% { opacity: .3; }
}
