<div class="conTitle" id="conTitle" >JukeBox 1.3 </div>
<div class="conSubTitle" id="conSubTitle">Music Loading, please wait....</div>
<div class="conText row">
  <div class="conLeft" id="conLeft">

      <div class="canvas">
          <canvas id="canvas" height="250" width="570"></canvas>
      </div>
      <div id="myProgress">
          <div id="myBar" ></div>
      </div>
      <div id="controls">
          <div id="control">
              <a id="backward" title="previous song" (click)="previous()">
                  <!-- <i class="fa fa-step-backward" aria-hidden="true"></i> -->
                  <img src="assets/jukebox/icons/prev.svg" alt="previous track" />
              </a>
              <a id="toggle" title="toggle play/pause" (click)="toggle()">
                  <!-- <i class="fa fa-pause" aria-hidden="true"></i> -->
                  <img src="assets/jukebox/icons/pause.svg" alt="toggle play/pause" id="pause" *ngIf="isPlaying" />
                  <img src="assets/jukebox/icons/play.svg" alt="toggle play/pause" id="play" *ngIf="!isPlaying" />
              </a>
              <a id="forward" title="next">
                  <!-- <i class="fa fa-step-forward" aria-hidden="true"></i> -->
                  <img src="assets/jukebox/icons/next.svg" alt="next" />
              </a>
              <a id="changeTheme">
                  <!-- <i class="fa fa-random" aria-hidden="true"></i> -->
                  <img src="assets/jukebox/icons/flow.svg" alt="change theme" />
              </a>
          </div>
          <div class="volume" title="volume" [ngClass]="{'hidden': file && file['error']}">
              <a id="toggleVolume" title="toggle volume">
                  <!-- <i class="fa fa-volume-up" aria-hidden="true"></i> -->
                  <img src="assets/jukebox/icons/volume.svg" alt="volume" />
              </a>
              <input id="volume" type="range" min="0" max="1" step="0.1">

          </div>
          <!-- <div id="theme" title="next theme">
          </div> -->
          <app-uploader [appAcceptType]="'audio/*'" [appFileTypes]="['audio/mp3', 'audio/wav']" [appFileSizeInMB]="3"></app-uploader>
      </div>
      <div id="musicInfo">
          <div id="album">Loading album cover ...</div>
          <div id="musicMeta">
                <span id='mTitle' style='font-weight: bold; font-size: 20px;'>{{metadata['title']}}</span><br />
                <span id='mArtist'>{{metadata['artist']}}</span><br />
                <span id='mAlbum'>{{metadata['album']}}</span>
          </div>
      </div>

  </div>
  <div class="conRight" id="conRight">
    <app-panel-right></app-panel-right>
  </div>
</div>
