@import '../../../mixin.scss';

.conLeft{
  display: flex;
  align-items: center;
}

.deck{
    .deck__title{
        font-size: 1rem;
        padding-bottom: 15px;
        font-weight: 600;
    }
    .deck__left{
        height: 120px;
        margin-bottom: 15px;
        @include boxShadow(2px 2px 5px #ddd);
    }
}
.card_table{
    
    .deck__btns{
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: var(--sm-padding);
        width: 100%;
        .btn{
            margin: 5px;
            width: 130px;
            margin-top: 15px;
            padding: var(--sm-padding) var(--md-padding);
            text-decoration: none;
            font-size: 1rem;

            &:disabled{
                background: #999;
                cursor: default;
            }
        }
    }
    .cards{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin: var(--sm-padding) var(--md-padding);
        padding: 0;
        width: 300px;
        z-index: 0;
        min-height: 120px;
        .toaster{
            z-index: 1000;
            position: absolute;
            background: #28a745;  //blue #17a2b8 // red #dc3545
            opacity: 0.8;
            @include dimension(100px, 30px);
            text-align: center;
            line-height: 30px;
            font-size: 20px;
            color: #fff;
            margin-top: 30px;
            margin-left: 10px;
            border-radius: 5px;
            @include transition(all .8s ease-in-out);

            &.three{
                margin-left: 30px
            }
            &.four{
                margin-left: 40px;
            }
            &.five{
                margin-left: 50px;
            }
            &.busted{
                background: #dc3545
            }
            &.blackjack{
                background: #ffc107;
            }
        }
        &.five app-card:nth-child(n+2) {
            margin-left: -50px;
        }
        &.six app-card:nth-child(n+2) {
            margin-left: -60px;
        }
        app-card{
            width: 85px;
            height: 120px;
            position: relative;
            z-index: 1;
            margin-left: -40px;
            &:first-child {
                margin-left: 0;
            }
        }
    }

    .hints{
        min-height: 75px;
        text-align: left;
        margin: var(--sm-padding) var(--md-padding);
        width: 300px;

        a.btn_hint{
            color: red;
            font-size: 14px;
            cursor: pointer;
        }
    }
    .hints.show {
        background: rgba(41,43,44,1);
        @include transition(all .8s ease-in-out);
        a.btn_hint{
            color: #fff;
            margin-left: 280px;
            position: absolute;
            margin-top: 5px;
            @include transition(all .3s ease-in-out);
        }
        .probabilities{
            color: #fff;
            padding: var(--sm-padding);
        }
    }
}

@media (max-width: 480px) {
    .card_table{
        .deck__btns{
            flex-direction: column;
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 10px;
            .btn {
                margin-top: 8px;
                margin-bottom: 8px;
            }
        }
        .cards app-card{
            margin-left: -55px;
        }
    }
    .deck{
        margin-left: -100px;
    }

}


